<!DOCTYPE html>
<html>

<head>
  <title>管理ページ</title>
  <%- include("../common/stylesheets.ejs") %>
</head>

<body>
  <%- include("../common/header.ejs") %>
  <div class="main">
    <div class="main__wrapper">
      <div class="area-admin">
        <a class="btn-link" href="/admin/users">ユーザ管理</a>
        <a class="btn-link" href="/admin/nyukyos">入居番号管理</a>
        <a class="btn-link" href="/admin/rooms">部屋管理</a>
        <a class="btn-link" href="/admin/cabinets">キャビネット管理</a>
      </div>
      <!-- /.area-admin -->
    </div>
    <!-- /.main__wrapper -->
  </div>
  <!-- /.main -->
</body>
<%- include("../common/javascripts.ejs") %>
</html>