<!DOCTYPE html>
<html>

<head>
  <title>管理ページ</title>
  <%- include("../common/stylesheets.ejs") %>
</head>

<body>
  <%- include("../common/header.ejs", {current: 'master'}) %>
  <div class="main">
    <div class="main__wrapper">
      <div class="area-admin">
        <a class="btn-link" href="/admin/users">ユーザ管理</a>
        <a class="btn-link" href="/admin/nyukyos">入居番号管理</a>
        <a class="btn-link" href="/admin/rooms">部屋管理</a>
        <a class="btn-link" href="/admin/cabinets">キャビネット管理</a>
        <a class="btn-link" href="/admin/bicycles">駐輪場管理</a>
        <a class="btn-link" href="/admin/cars">駐車場管理</a>
        <a class="btn-link" href="/admin/telnos">電話番号管理</a>
        <a class="btn-link" href="/admin/perinfo">会議室稼働率確認</a>
        <hr style="margin:10px;color:#cd5e42">
        <form action="/admin/download/persons" method="POST">
          <input type="submit" class="btn-link" value="個人リストダウンロード（名前順）">
        </form>
        <form action="/admin/download/personsordernyukyo" method="POST">
          <input type="submit" class="btn-link" value="個人リストダウンロード（入居者番号順）">
        </form>
        <form action="/admin/download/companiespanelinfo" method="POST">
          <input type="submit" class="btn-link" value="正面パネル会社リストダウンロード">
        </form>
        <form action="/admin/download/yoyakunyukinzumi" method="POST">
          <input type="submit" class="btn-link" value="入金済予約情報ダウンロード">
          <input type="text" style="display:inline-block;width:200px" class="form__item-style" name="target_yyyymm" placeholder="yyyymmで入力" required />
        </form>
        <a class="btn-link" href="/admin/mailrecovery">通知メールリカバリ</a>
      </div>
      <!-- /.area-admin -->
    </div>
    <!-- /.main__wrapper -->
  </div>
  <!-- /.main -->
</body>
<%- include("../common/javascripts.ejs") %>
</html>