<!DOCTYPE html>
<html>

<head>
  <title>管理ページ</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>管理ページ</h1>
  <p>様々なデータを管理する</p>
  <a href="/admin/users">ユーザ管理</a>
  <a href="/admin/nyukyos">入居番号管理</a>
  <a href="/admin/rooms">部屋管理</a>
  <a href="/admin/cabinets">キャビネット管理</a>
  <% if (locals.user){ %>
  <form method="POST" action="/logout">
    <input type="submit" button value="ログアウト" />
  </form>
  <% } %>
</body>

</html>