<!DOCTYPE html>
<html>

<head>
  <title>個人管理</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>個人管理</h1>
  <ul>
    <% if (persons) { %>
    <%  persons.forEach( person => { %>
    <li>
      <a href="/admin/persons/update/<%= person.id %>">
        <%= person.name %>（<%= person.id %>）
      </a>
    </li>
    <%  }) %>
    <% } %>
  </ul>
  <a href="/admin/persons/insert">登録</a>
</body>

</html>