<!DOCTYPE html>
<html>

<head>
  <title>フロントページ</title>
  <%- include("./common/stylesheets.ejs") %>
</head>

<body>
  <%- include("./common/header.ejs") %>
  <section class="main">
    <div class="main__wrapper">
      <div class="select__items">
        <div class="select__item">
          <a href="" class="btn-link">勤怠管理</a>
        </div>
        <!-- /.select__item -->
        <div class="select__item">
          <a href="top" class="btn-link">入居者管理</a>
        </div>
        <!-- /.select__item -->
      </div>
    </div>
  </section>
</body>
<%- include("./common/javascripts.ejs") %>

</html>