<!DOCTYPE html>
<html>

<head>
  <title>フロントページ</title>
  <%- include("./common/stylesheets.ejs") %>
</head>

<body>
  <%- include("./common/header.ejs") %>
  <h1>PLATFORM</h1>
  <p>フロントページ</p>
  <a href="top">トップページ</a>
  <a href="admin">管理ページ</a>
  <% if (locals.user){ %>
  <form method="POST" action="/logout">
    <input type="submit" button value="ログアウト" />
  </form>
  <% } %>
</body>
<%- include("./common/javascripts.ejs") %>
</html>