<!DOCTYPE html>
<html>

<head>
  <title>フロントページ</title>
  <%- include("./common/stylesheets.ejs") %>
</head>

<body>
  <%- include("./common/header.ejs") %>
  <h1 class="main__title">ポータルページ</h1>
  <ul>
  <li>
  <a href="">勤怠管理</a>
  </li>
  <li>
  <a href="top">入居者管理</a>
  </li>
</body>
<%- include("./common/javascripts.ejs") %>
</html>