<!DOCTYPE html>
<html>

<head>
  <title>フロントページ</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>PLATFORM</h1>
  <p>フロントページ</p>
  <a href="top">トップページ</a>
  <a href="admin">管理ページ</a>
  <% if (locals.user){ %>
  <form method="POST" action="/logout">
    <input type="submit" button value="ログアウト" />
  </form>
  <% } %>
</body>

</html>