<!DOCTYPE html>
<html>

<head>
  <title>ログイン</title>
  <%- include("./common/stylesheets.ejs") %>
</head>

<body>
  <section class="login">
    <div class="login__wrapper">
      <form action="/login" method="post">
        <% if (message && message.length !== 0) { %>
        <div class="alert alert-danger">
          <%= message %>
        </div>
        <% } %>
        <div class="form__header">
            <img src="/static/images/building_logo.svg">
        </div>
        <div class="form__item">
          <input type="text" name="username" class="form__item-style" placeholder="ID" autocomplete="username">
        </div>
        <div class="form__item">
          <input type="password" name="password" class="form__item-style" placeholder="パスワード" autocomplete="current-password">
        </div>
        <input type="submit" class="btn-base" value="ログイン" />
      </form>
    </div>
  </section>

</body>
<%- include("./common/javascripts.ejs") %>

</html>