<!DOCTYPE html>
<html>

<head>
  <title>ログイン</title>
  <%- include("./common/stylesheets.ejs") %>
</head>

<body>
  <form action="/login" method="post">
    <dl>
      <dt>ユーザーID：</dt>
      <dd>
      <input type="text" name="username" />
      </dd>
      <dt>パスワード：</dt>
      <dd>
      <input type="password" name="password" />
      </dd>
      <input type="submit" value="ログイン" />
    </dl>
    <% if (message && message.length !== 0) { %>
    <div class="alert alert-danger">
      <%= message %>
    </div>
    <% } %>
  </form>
</body>
<%- include("./common/javascripts.ejs") %>
</html>