$base-color: #cd5e42;
$second-color: #fff4ed;

html {
  overflow-y: scroll;
  overflow-x: hidden;
}
body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  color: #333;
}

// --- 共通部品 --
//タイトル
.title {
  width: 100%;
  padding: 1rem;
  background-color: $base-color;
  color: #fff;
  font-size: 1.75rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
//見出し
.midashi {
  padding: 0.25em 0.5em;
  color: $base-color;
  background: transparent;
  // border-left: solid 5px $base-color;
  border-bottom: solid 2px $base-color;
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
  font-weight: bold;
}
//inputタグ用
.form__item-style {
  color: #8a8a8a;
  display: block;
  width: 100%;
  height: 30px;
  padding: 5px 5%;
  border: 1px solid #ccc;
  border-radius: 27px;
  background-clip: padding-box;
  background-color: #fff;
  font-size: 12px;
  letter-spacing: 0.8px;
  &:focus {
    outline: none;
    border: 1px solid $base-color;
    color: $base-color;
  }
}
.form__radio-style {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
.form__radio-label {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 2px;
  border-radius: 3px;
  transition: all 0.2s;
  border: 1px solid $base-color;
  color: $base-color;
  font-size: 12px;
}
.form__radio-style:checked + .form__radio-label {
  background: $base-color;
  color: #fff;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
}
//inputタグ読み取り専用
.form__item-readonly-style {
  color: #8a8a8a;
  display: block;
  width: 100%;
  height: 30px;
  padding: 5px 5%;
  font-size: 12px;
  letter-spacing: 0.8px;
}
//アクションするボタン
.btn-base {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 19px;
  background-clip: padding-box;
  background-color: $base-color;
  border: 1px solid transparent;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 0.75rem;
  &:hover {
    background-color: #fff;
    color: $base-color;
    border: 1px solid $base-color;
  }
}
//非活性ボタン
.btn-disabled {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 19px;
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 0.75rem;
}
//画面遷移するボタン
.btn-link {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #f7f7f7;
  border-left: solid 6px $base-color; /*左線*/
  color: $base-color; /*文字色*/
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  font-size: 0.75rem;
  &:hover {
    opacity: 0.7;
  }
  &:active {
    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
    transform: translateY(2px);
  }
}
//リンク領域
.area-link {
  padding: 5px 0;
  margin-bottom: 5px;
  a {
    margin-right: 5px;
  }
}
// formのボタン領域
.form__btn {
  width: 100%;
  text-align: center;
  .btn-base {
    margin: 20px;
  }
}
//メッセージ領域
.msg {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  visibility: hidden;
}
.msgarea {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 15px;
  font-size: 1rem;
  width: 400px;
  text-align: center;
  padding: 1rem;
  input {
    margin-bottom: 20px;
  }
}
.msgarea__text {
  padding: 0 20px 20px 20px;
  line-height: 1.5rem;
}
.msgarea__okbtn,
.msgarea__ngbtn {
  font-size: 1rem;
  color: #808080;
  border: 1px solid #808080;
  border-radius: 5px;
  background-color: #fff;
  padding: 5px 10px;
  margin: 0 15px;
}
.msgarea__okbtn:hover,
.msgarea__ngbtn:hover {
  background-color: #808080;
  color: #fff;
  transform: translateY(-5px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

// メイン領域
.main {
  padding-top: 50px;
  width: 100%;
}
// メイン領域のコンテンツを格納する領域
.main__wrapper {
  width: 95%;
  max-width: 900px;
  min-width: 800px;
  margin: 0 auto;
}

// エラーメッセージ領域
.alert {
  margin-bottom: 20px;
}
// エラーメッセージ
.alert-danger {
  color: $base-color;
  font-size: 0.875rem;
}
// タグ
.tag {
  display: inline-block;
  color: #fff;
  background-color: $base-color;
  border-radius: 28px;
  font-size: 12px;
  padding: 4px 7px 2px;
  margin-right: 5px;
  font-weight: normal;
}
.tag-big {
  display: inline-block;
  color: $base-color;
  background-color: #fff;
  border-radius: 28px;
  font-size: 1rem;
  font-weight: bold;
  padding: 3px 10px;
  margin-right: 10px;
}

//部分的な設定
.width-base {
  width: 90%;
}
.ml-small {
  margin-left: 10px;
}
.pd-disabled {
  padding: 9px 16px !important;
}
.bg-input-disabled {
  background-color: rgba(0, 0, 0, 0.1);
}
.bg-disabled {
  background-color: #808080;
}
.color-disabled {
  color: #808080;
}
.bd-disabled {
  border-color: #808080 !important;
}
.bd-left-disabled {
  border-left: solid 6px #808080;
}
.dateinfo {
  font-size: 0.75rem;
}
.dateinfo-small {
  font-size: 0.75rem;
  color: #808080;
  font-weight: normal;
}

//　--- 画面 ---

// login
.login {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  .login__wrapper {
    position: absolute;
    width: 360px;
    height: 320px;
    height: auto;
    background-color: #fff;
    margin: auto;
    border-radius: 5px;
    padding: 20px;
    left: 50%;
    top: 50%;
    margin-left: -180px;
    margin-top: -200px;
    .form__header {
      margin-bottom: 1.5rem;
    }
    .form__item {
      position: relative;
      display: block;
      margin-bottom: 20px;
    }
  }
}

// header
.header {
  width: 100%;
  height: 50px;
  background-color: #fff;
  position: fixed;
  .header-wrapper {
    max-width: 900px;
    min-width: 800px;
    width: 95%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    .header-left {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      .header-logo {
        display: inline-block;
        background-color: #fff;
        padding: 5px 10px;
        width: 300px;
        height: auto;
      }
    }
    .header-right {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-items: center;
      .btn-header {
        font-size: 0.75rem;
        background-color: #fff;
        padding: 8px 10px;
        border-radius: 19px;
        color: $base-color;
        border: 1px solid $base-color;
        margin-right: 10px;
        &:hover {
          background-color: $base-color;
          color: #fff;
        }
      }
    }
  }
}

// index
.fix_header {
  position: fixed;
  width: 95%;
  max-width: 900px;
  min-width: 800px;
  margin: 0 auto;
  top:50px;
  background-color: #fff;
}
.top__btns {
  display: flex;
  flex-wrap: nowrap;
  padding: 5px 0;
  .top__btn {
    padding: 5px;
  }
}
.searchform__top {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.searchform {
  font-size: 0.75rem;
  .search__result-disp {
    margin-top: 1rem;
  }
  .page-section {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    .page-disp {
      padding: 0 10px;
      font-weight: normal;
    }
  }
}
.search__result {
  padding-top: 150px;
}
.search__result-item {
  margin: 15px 10px;
  width: 98%;
  a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

// company, companyform, person, personform
.company,
.company__form,
.person__form,
.cancel__form {
  margin-top: 1rem;
}
.company {
  padding-top: 65px;
}
dl {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
dt {
  width: 15%;
  text-align: right;
  padding: 5px 10px 5px 0;
  font-weight: normal;
  font-size: 12px;
  color: #cd5e42;
  font-weight: bold;
}
dd {
  width: 35%;
  padding: 5px 5px;
}

// company-person
.person {
  margin-bottom: 0.5rem;
  .person__header {
    position: relative;
    .person__addbtn {
      font-size: 12px;
      position: absolute;
      right: 0;
    }
  }
  .person__items {
    display: flex;
    flex-wrap: wrap;
    .person__item {
      margin: 5px 15px 5px 0;
    }
  }
}
// company-room
.room {
  margin-bottom: 0.5rem;
  .room__form {
    display: flex;
    margin-bottom: 0.5rem;
  }
  .room__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .room__item {
      background-color: #f7f7f7;
      color: $base-color;
      font-weight: bold;
      padding: 0.5em 1rem;
      border: solid 1px $base-color;
      // border-radius: 8px;
      margin: 5px 15px 5px 0;
      font-size: 0.75rem;
      a:hover {
        opacity: 0.7;
      }
    }
  }
}
//company-nyukyo
.nyukyo {
  margin-bottom: 0.5rem;
  .nyukyo__items {
    display: flex;
    flex-wrap: wrap;
    .nyukyo__item {
      margin: 5px 15px 5px 0;
    }
  }
}
//company-cabinet
.cabinet {
  margin-bottom: 0.5rem;
  .cabinet__form {
    display: flex;
    margin-bottom: 0.5rem;
  }
  .cabinet__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .cabinet__item {
      background-color: #f7f7f7;
      color: $base-color;
      font-weight: bold;
      padding: 0.5em 1rem;
      border: solid 1px $base-color;
      font-size: 0.75rem;
      margin: 5px 15px 5px 0;
      a:hover {
        opacity: 0.7;
      }
    }
  }
}

// admin
.area-admin {
  margin-top: 2rem;
  margin-left: 1.5rem;
  a {
    margin: 10px 15px;
  }
}
.area-admin-link {
  margin-top: 1rem;
  margin-left: 1.5rem;
  a {
    margin-right: 15px;
  }
}
// admin-user
.admin__user,
.admin__nyukyo,
.admin__room,
.admin__cabinet {
  margin-top: 0.5rem;
  margin-left: 1.5rem;
  a {
    margin: 0.5rem 0.5rem;
  }
}
