$base-color: #cd5e42;
$second-color: #fff4ed;

html {
  overflow-y: scroll;
}
body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  color: #333;
}


// --- 共通部品 --

//margin-left
.ml-small {
  margin-left: 10px;
}

//タイトル
.title {
  width: 100%;
  padding: 1rem;
  background-color: $base-color;
  color: #fff;
  font-size:1.75rem;
}

//見出し
.midashi {
  padding: 0.25em 0.5em;
  color: $base-color;
  background: transparent;
  // border-left: solid 5px $base-color;
  border-bottom: solid 2px $base-color;
  font-size: 1.5rem;;
  margin-bottom: 1.25rem;
  font-weight: bold;
}

//inputタグ用
.form__item-style {
  color: #8a8a8a;
  display: block;
  width: 100%;
  height: 44px;
  padding: 5px 5%;
  border: 1px solid #ccc;
  border-radius: 27px;
  background-clip: padding-box;
  background-color: #fff;
  font-size: 105%;
  letter-spacing: 0.8px;
  &:focus {
    outline: none;
    border: 1px solid $base-color;
    color: $base-color;
  }
}

//inputタグ読み取り専用
.form__item-readonly-style {
  color: #8a8a8a;
  display: block;
  width: 100%;
  height: 44px;
  padding: 5px 5%;
  font-size: 105%;
  letter-spacing: 0.8px;
}

//アクションするボタン
.btn-base {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 19px;
  background-clip: padding-box;
  background-color: $base-color;
  border: 1px solid transparent;
  color: #fff;
  font-weight: bold;
  text-align: center;
  &:hover {
    background-color: #fff;
    color: $base-color;
    border: 1px solid $base-color;
  }
}

//画面遷移するボタン
.btn-link {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #f7f7f7;
  border-left: solid 6px $base-color; /*左線*/
  color: $base-color; /*文字色*/
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  &:hover {
    opacity: 0.7;
  }
  &:active {
    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
    transform: translateY(2px);
  }
}

//リンク領域
.area-link {
  padding: 20px 0;
  a {
    margin-right: 15px;
  }
}
// formのボタン領域
.form__btn {
  margin:0 auto;
  .btn-base {
    margin: 20px;
  }
}

.msg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0,0,0,.7);
  z-index:100;
  visibility: hidden;
}
.msgarea {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 15px;
  font-size: 1rem;
  width: 400px;
  text-align: center;
  padding: 1rem;
}
.msgarea__text {
  padding: 0 20px 20px 20px;
  line-height: 1.5rem;
}
.msgarea__okbtn,
.msgarea__ngbtn {
  font-size: 1rem;
  color: #808080;
  border: 1px solid #808080;
  border-radius: 5px;
  background-color: #fff;
  padding: 5px 10px;
  margin: 0 15px;
}
.msgarea__okbtn:hover,
.msgarea__ngbtn:hover {
  background-color: #808080;
  color: #fff;
  transform: translateY(-5px);
  box-shadow: 0 0 30px rgba(0,0,0,.2);
}


//非アクティブ状態の場合の背景色
.bg-disabled {
  background-color: rgba(0,0,0,.1);
}

// メイン領域
.main {
  padding-top: 70px;
  width: 100%;
}
// メイン領域のコンテンツを格納する領域
.main__wrapper {
  width: 80%;
  margin: 0 auto;
}

// エラーメッセージ領域
.alert {
  margin-bottom: 20px;
}
// エラーメッセージ
.alert-danger {
  color: $base-color;
}
// タグ
.tag {
  display: inline-block;
  color: #fff;
  background-color: $base-color;
  border-radius: 28px;
  font-size: 0.875rem;
  padding: 2px 7px;
  margin-right: 5px;
}

//　--- 画面 ---

// login
.login {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  .login__wrapper {
    position: absolute;
    width: 360px;
    height: 320px;
    height: auto;
    background-color: #fff;
    margin: auto;
    border-radius: 5px;
    padding: 20px;
    left: 50%;
    top: 50%;
    margin-left: -180px;
    margin-top: -200px;
    .form__item {
      position: relative;
      display: block;
      margin-bottom: 20px;
    }
  }
}

// header
.header {
  width: 100%;
  height: 70px;
  background-color: $base-color;
  position: fixed;
  .header-wrapper {
    max-width: 900px;
    padding: 0 20px;
    ul {
      li {
        display: inline-block;
        padding-top: 15px;
      }
    }
  }
}

// index
.top__btns {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px 0;
  .top__btn {
    padding: 10px;
  }
}
.searchform__top {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.search__result {
  .search__result-disp {
    margin-top: 1rem;
  }
  .page-section {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    .page-disp {
      padding: 0 10px;
      font-size: 1rem;
      font-weight: normal;
    }
    input {
      font-size: 0.875rem;
    }
  }
}
.search__result-item {
  margin:15px 0;
  a {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

// company, companyform, person, personform
.company,.company__form, .person__form, .cancel__form {
  margin-top: 1rem;
}
dl {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
dt {
  width: 30%;
  text-align: right;
  padding: 5px 20px 5px;
  font-weight: normal;
}
dd {
  width: 70%;
  padding: 5px 0;
}


// company-person
.person {
  margin-bottom: 2rem;
  .person__items {
    display: flex;
    flex-wrap: wrap;
    .person__item {
      margin: 5px 15px 5px 0;
    }
  }
}
// company-room
.room {
  margin-bottom: 2rem;
  .room__form {
    display: flex;
    margin-bottom: 1rem;
  }
  .room__items {
    display: flex;
    flex-wrap: wrap;
    .room__item {
      background-color: #f7f7f7;
      color: $base-color;
      font-weight: bold;
      padding: 0.5em 1rem;
      border: solid 1px $base-color;
      // border-radius: 8px;
      margin: 5px 15px 5px 0;
      a:hover {
        opacity: 0.7;
      }
    }
  }
}
//company-nyukyo
.nyukyo {
  margin-bottom: 2rem;
  .nyukyo__items {
    display: flex;
    flex-wrap: wrap;
    .nyukyo__item {
      margin: 5px 15px 5px 0;
    }
  }
}
//company-cabinet
.cabinet {
  margin-bottom: 2rem;
  .cabinet__form {
    display: flex;
    margin-bottom: 1rem;
  }
  .cabinet__items {
    display: flex;
    flex-wrap: wrap;
    .cabinet__item {
      background-color: #f7f7f7;
      color: $base-color;
      font-weight: bold;
      padding: 0.5em 1rem;
      border: solid 1px $base-color;
      // border-radius: 8px;
      margin: 5px 15px 5px 0;
      a:hover {
        opacity: 0.7;
      }
    }
  }
}

// admin
.area-admin {
  margin-top: 2rem;
  margin-left: 1.5rem;
  a {
    margin-right: 15px;
  }
}
//リンク領域
.area-admin-link {
  margin-top: 2rem;
  margin-left: 1.5rem;
  a {
    margin-right: 15px;
  }
}
// admin-user
.admin__user, .admin__nyukyo, .admin__room, .admin__cabinet {
  margin-top: 0.5rem;
  margin-left: 1.5rem;
  a {
      margin: 0.5rem 0.5rem;
  }
}