@charset "UTF-8";
html {
  overflow-y: scroll;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  color: #333;
}

.ml-small {
  margin-left: 10px;
}

.title {
  width: 100%;
  padding: 1rem;
  background-color: #cd5e42;
  color: #fff;
  font-size: 1.75rem;
}

.midashi {
  padding: 0.25em 0.5em;
  color: #cd5e42;
  background: transparent;
  border-bottom: solid 2px #cd5e42;
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  font-weight: bold;
}

.form__item-style {
  color: #8a8a8a;
  display: block;
  width: 100%;
  height: 44px;
  padding: 5px 5%;
  border: 1px solid #ccc;
  border-radius: 27px;
  background-clip: padding-box;
  background-color: #fff;
  font-size: 105%;
  letter-spacing: 0.8px;
}

.form__item-style:focus {
  outline: none;
  border: 1px solid #cd5e42;
  color: #cd5e42;
}

.form__item-readonly-style {
  color: #8a8a8a;
  display: block;
  width: 100%;
  height: 44px;
  padding: 5px 5%;
  font-size: 105%;
  letter-spacing: 0.8px;
}

.btn-base {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 19px;
  background-clip: padding-box;
  background-color: #cd5e42;
  border: 1px solid transparent;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.btn-base:hover {
  background-color: #fff;
  color: #cd5e42;
  border: 1px solid #cd5e42;
}

.btn-link {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #f7f7f7;
  border-left: solid 6px #cd5e42;
  /*左線*/
  color: #cd5e42;
  /*文字色*/
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}

.btn-link:hover {
  opacity: 0.7;
}

.btn-link:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}

.area-link {
  padding: 20px 0;
}

.area-link a {
  margin-right: 15px;
}

.form__btn {
  margin: 0 auto;
}

.form__btn .btn-base {
  margin: 20px;
}

.msg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  visibility: hidden;
}

.msgarea {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 15px;
  font-size: 1rem;
  width: 400px;
  text-align: center;
  padding: 1rem;
}

.msgarea__text {
  padding: 0 20px 20px 20px;
  line-height: 1.5rem;
}

.msgarea__okbtn,
.msgarea__ngbtn {
  font-size: 1rem;
  color: #808080;
  border: 1px solid #808080;
  border-radius: 5px;
  background-color: #fff;
  padding: 5px 10px;
  margin: 0 15px;
}

.msgarea__okbtn:hover,
.msgarea__ngbtn:hover {
  background-color: #808080;
  color: #fff;
  transform: translateY(-5px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.bg-disabled {
  background-color: rgba(0, 0, 0, 0.1);
}

.main {
  padding-top: 70px;
  width: 100%;
}

.main__wrapper {
  width: 900px;
  margin: 0 auto;
}

.alert {
  margin-bottom: 20px;
}

.alert-danger {
  color: #cd5e42;
}

.tag {
  display: inline-block;
  color: #fff;
  background-color: #cd5e42;
  border-radius: 28px;
  font-size: 0.875rem;
  padding: 2px 7px;
  margin-right: 5px;
}

.login {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.login .login__wrapper {
  position: absolute;
  width: 360px;
  height: 320px;
  height: auto;
  background-color: #fff;
  margin: auto;
  border-radius: 5px;
  padding: 20px;
  left: 50%;
  top: 50%;
  margin-left: -180px;
  margin-top: -200px;
}

.login .login__wrapper .form__item {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.header {
  width: 100%;
  height: 70px;
  background-color: #cd5e42;
  position: fixed;
}

.header .header-wrapper {
  max-width: 900px;
  padding: 0 20px;
}

.header .header-wrapper ul li {
  display: inline-block;
  padding-top: 15px;
}

.top__btns {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px 0;
}

.top__btns .top__btn {
  padding: 10px;
}

.searchform__top {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.search__result .search__result-disp {
  margin-top: 1rem;
}

.search__result .page-section {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.search__result .page-section .page-disp {
  padding: 0 10px;
  font-size: 1rem;
  font-weight: normal;
}

.search__result .page-section input {
  font-size: 0.875rem;
}

.search__result-item {
  margin: 15px 0;
}

.search__result-item a {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}

.company, .company__form, .person__form, .cancel__form {
  margin-top: 1rem;
}

dl {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

dt {
  width: 30%;
  text-align: right;
  padding: 5px 20px 5px;
  font-weight: normal;
}

dd {
  width: 70%;
  padding: 5px 0;
}

.person {
  margin-bottom: 2rem;
}

.person .person__items {
  display: flex;
  flex-wrap: wrap;
}

.person .person__items .person__item {
  margin-right: 15px;
}

.room {
  margin-bottom: 2rem;
}

.room .room__form {
  display: flex;
  margin-bottom: 1rem;
}

.room .room__items {
  display: flex;
  flex-wrap: wrap;
}

.room .room__items .room__item {
  background-color: #f7f7f7;
  color: #cd5e42;
  font-weight: bold;
  padding: 0.5em 1rem;
  border: solid 1px #cd5e42;
  margin-right: 10px;
}

.room .room__items .room__item a:hover {
  opacity: 0.7;
}

.nyukyo {
  margin-bottom: 2rem;
}

.nyukyo .nyukyo__items {
  display: flex;
  flex-wrap: wrap;
}

.nyukyo .nyukyo__items .nyukyo__item {
  margin-right: 15px;
}

.cabinet {
  margin-bottom: 2rem;
}

.cabinet .cabinet__form {
  display: flex;
  margin-bottom: 1rem;
}

.cabinet .cabinet__items {
  display: flex;
  flex-wrap: wrap;
}

.cabinet .cabinet__items .cabinet__item {
  background-color: #f7f7f7;
  color: #cd5e42;
  font-weight: bold;
  padding: 0.5em 1rem;
  border: solid 1px #cd5e42;
  margin-right: 10px;
}

.cabinet .cabinet__items .cabinet__item a:hover {
  opacity: 0.7;
}

.area-admin {
  margin-top: 2rem;
}

.area-admin a {
  margin-right: 15px;
}

.admin__user, .admin__nyukyo, .admin__room, .admin__cabinet {
  margin-top: 1rem;
}

.admin__user a, .admin__nyukyo a, .admin__room a, .admin__cabinet a {
  margin: 0.5rem 0;
}
