<head>
    <div class="header">
        <div class="header-wrapper">
            <ul>
            <li><a class="btn-base" href="/">TOP</a></li>
            <li><a class="btn-base" href="/admin">マスタ管理</a></li>
            <% if (locals.user){ %>
            <li>
            <form method="POST" action="/logout">
                <input class="btn-base" type="submit" button value="ログアウト" />
            </form>
            </li>
            <% } %>
            </ul>
        </div>
        <!-- /.header-wrapper -->
    </div>
    <!-- /.header -->
</head>