<head class="header">
    <div class="header-wrapper">
        <ul>
        <li><a class="btn-header" href="/">ポータルTOPへ</a></li>
        <li><a class="btn-header" href="/top">TOP</a></li>
        <li><a class="btn-header" href="/admin">マスタ管理</a></li>
        <% if (locals.user){ %>
        <li>
        <form method="POST" action="/logout">
            <input class="btn-header" type="submit" button value="ログアウト" />
        </form>
        </li>
        <% } %>
        </ul>
    </div>
    <!-- /.header-wrapper -->
</head>