<head>
    <div class="header">
        <div class="header-wrapper">
            <div class="header-left">
                <a class="header-logo" href="/top"><img src="/static/images/building_logo.svg"></a>
            </div>
            <div class="header-right">
                <% if (locals.user){ %>
                <div>
                    <% if (current === 'nyukyo') { %>
                    <a class="btn-header-current" href="/">入居者</a>
                    <% } else { %>
                    <a class="btn-header" href="/">入居者</a>
                    <% } %>
                </div>
                <div>
                    <% if (current === 'kaigi') { %>
                    <a class="btn-header-current" href="/riyousha">会議室利用者</a>
                    <% } else { %>
                    <a class="btn-header" href="/riyousha">会議室利用者</a>
                    <% } %>
                </div>
                <div>
                    <% if (current === 'outai') { %>
                    <a class="btn-header-current" href="/outai">応対履歴</a>
                    <% } else { %>
                    <a class="btn-header" href="/outai">応対履歴</a>
                    <% } %>
                </div>
                <div>
                    <% if (current === 'outaikaigi') { %>
                    <a class="btn-header-current" href="/outaikaigi">応対履歴(会議室)</a>
                    <% } else { %>
                    <a class="btn-header" href="/outaikaigi">応対履歴(会議室)</a>
                    <% } %>
                </div>
                <% if (locals.user.role === '社員') { %>
                <div>
                    <% if (current === 'master') { %>
                    <a class="btn-header-current" href="/admin">マスタ管理</a>
                    <% } else { %>
                    <a class="btn-header" href="/admin">マスタ管理</a>
                    <% } %>
                </div>
                <% } %>
                <div>
                    <form method="POST" action="/logout">
                        <input class="btn-header" type="submit" button value="ログアウト" />
                    </form>
                </div>
                <% } %>
            </div>
        </div>
        <!-- /.header-wrapper -->
    </div>
    <!-- /.header -->
</head>